{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Partidos</title>
    <link rel="stylesheet" type="text/css" href="{% static 'iniciosesion.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'partidos.css' %}">
    
  </head>
  <body>
    {% include 'navbar.html' %}

    <h1 class="centroClasificacion">Partidos</h1>

    <div class="container">
      <div class="row">
       
        <div class="col-md-6">
          <div class="col text-center tituloTablas">Partidos por jugar</div>
          <div class="row">
            {% for partido in partidosNoJugados %}
            <form method="post" action="{% url 'anadir_partido' partido.id %}">
              {% csrf_token %}
              <div class="col-12 partidoSuelto">
                <p class="nombrePartido text-center">{{ partido.equipolocal }} vs {{ partido.equipovisitante }} </p>
                <p class="text-center">Lugar: {{ partido.lugar }}</p>
                <p class="text-center">Fecha: {{ partido.fecha }}</p>
                <p class="text-center">Hora: {{ partido.hora }}</p>
                {% if arbitro == 1 %}
                  <button type="submit" class="">Añadir Resultado</button>
                {% endif %}
                
                
              </div>
            </form>
            {% endfor %}
            </div>
        </div>


       
    
        <div class="col-md-6">
          <div class="col text-center tituloTablas">Partidos Disputados</div>
          <div class="row">
            {% for partido in partidosJugados %}
            <form method="post" action="{% url 'partido_suelto' partido.id %}">
              {% csrf_token %}
              <div class="col-12 partidoSuelto">
                <p class="nombrePartido text-center">{{ partido.equipolocal }} vs {{ partido.equipovisitante }}</p>
                <p class="text-center">Lugar: {{ partido.lugar }}</p>
                <button type="submit" class="">Ver Resultado</button>
              </div>
            </form>
            {% endfor %}
            </div>
        </div>
      
    </div>
    </div>
  </body>
</html>