{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Sobre Nosotros</title>
    <link rel="stylesheet" type="text/css" href="{% static 'iniciosesion.css' %}">
  </head>
  <body>
    {% include 'navbar.html' %}
    <h1 class="centroClasificacion col" style="font-family: 'Bebas Neue', cursive; font-size: 70px; ">Sobre Nosotros</h1>
    <div class="container">
      <div class="col-lg-3">
        <h3 class="text-center">Diego Viñals</h3>
      </div>
      <div class="col-lg-3">
        <h3 class="text-center">Jose Ignacio Tejero</h3>
      </div>
      <div class="col-lg-3">
        <h3 class="text-center"> Daniel Soria</h3>
      </div>
      <div class="col-lg-3">
        <h3 class="text-center">Ignacio Gonzalez</h3>
      </div>
    </div>
  </body>
</html>